
* {
    box-sizing: border-box;
    background-color: bisque;
}

.container {
    font-family: sans-serif;
    width: 825px;
    margin: 0 auto;
    line-height: 2;
    font-size: 24px;
    font-weight: 700;
    color: black;

}

li {
    list-style-type: none;
}

h1 {
    font-size: 48px;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid gray;

}

.accordion:hover .name-link {
    text-decoration: none;
    color: black;
}
.accordion .name-link {
    text-decoration: none;
    color: blue;
}

.accordion .picture-block:target .name-link{
    color: black;
}


.accordion-content-container img {
    width: 500px
}


.accordion-content-container {
    display: none;
}


.picture-block:target .accordion-content-container {
    display: flex;
    justify-content: center;
    margin: 16px 0 32px 0;


}

.cross-button {
    display: none;
}

.accordion:hover .picture-block:target .cross-button {
    display: block;
    margin-top: 10px;
}
.accordion:hover .picture-block:target .open-button{
    display: none;
}

.open-button {
    display: none;
    align-items: flex-end;
}

.accordion:hover .open-button {
    display: block;
    margin-top: 10px;
}
.picture-block:hover .accordion-content-container{
    display: block;
    display: flex;
    justify-content: center;
    margin: 16px 0 32px 0;
}
.picture-block:hover .cross-button{
    display: block;
    margin-top: 10px;
}
.picture-block:hover .open-button{
    display: none;
}



