
* {
    box-sizing: border-box;
    background-color: rgba(246, 246, 233, 0.6);
}

.container {
    font-family: sans-serif;
    width: 825px;
    margin: 0 auto;
    line-height: 2;
    font-size: 24px;
    font-weight: 900;

}

li {
    list-style-type: none;
}

h1 {
    font-size: 48px;
}

.accordion__header {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid gray;

}
.accordion:hover{
    cursor: pointer
}
.accordion:hover .name-link {
    text-decoration: none;
    color: black;
}

.name-link {
    text-decoration: none;
    color: blue;
}

.picture-block:target .name-link {
    color: black;
}

.picture-block:active, .picture-block:active .name-link {
    color: blue;
}

.picture-block:active {
    opacity: 50%;
}

.accordion-content-container img {
    height: 100%;
}


.accordion-content-container {
    height: 0;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    opacity: 30%;
}

.picture-block:target .accordion-content-container {
    margin: 16px 0 32px 0;
    height: 250px;
    transition: all 1.5s;
    opacity: 100%;
}

.cross-button{
    height: 0;
    align-items: flex-end;
    transition: all 0.5s;
    opacity: 30%;
}

.accordion:hover .picture-block:target .cross-button {
    opacity: 100%;
    height: 30px;
    transition: all 0.5s;
}

.accordion:hover .picture-block:target .open-button {
    display: none;

}

.open-button {
    height: 0;
    align-items: flex-end;
    transition: all 0.5s;
    opacity: 30%;
}

.accordion:hover .open-button {
    opacity: 100%;
    height: 30px;
    transition: all 0.5s;
}

.picture-block:hover .accordion-content-container {
    margin: 16px 0 32px 0;
    height: 250px;
    transition: all 1s;
    opacity: 100%;
}

.picture-block:hover .cross-button {
    opacity: 100%;
    height: 30px;
    transition: all 1s;
}

.picture-block:hover .open-button {
    height: 0;
    opacity: 30%;
    transition: all 0.5s;
}

.icons{
    position: relative;
    width: 15px;
    height: 15px;
}
.open-button, .cross-button{
    position: absolute;
    right: 50%;
    top: 50%;
}






